@import "../../colors.scss";

.container {
  padding: 0 20px;
  min-width: 270px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: Mulish;
  list-style: none;
  max-height: calc(100vh - 120px);
  overflow: auto;
  .inactive {
    text-transform: capitalize;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 800;
    border-radius: 10px;
    transition: 0.3s all;
    cursor: pointer;
    .icon_div {
      display: none;
      width: 48px;
      height: 48px;
      background-color: #ededed;
      border-radius: 5px;
      box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
      & svg {
        color: #b6bac3;
        width: 100%;
        height: 100%;
        margin: 12px;
      }
    }
    color: black;
  }
  .active {
    background: $sidebarBtn;
    p {
      color: white;
    }
  }
  a {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  }
}

@media (max-width: 500px) {
  .container {
    padding: 0 28px;
    min-width: 0px;
    flex-direction: row;
    // overflow: hidden;
    align-items: center;
    gap: 15px;
    padding-bottom: 20px;
    .inactive {
      padding: 0;
      font-size: 12px;
      border-radius: 0;
      color: #b6bac3;
      display: flex;
      flex-direction: column;
      gap: 5px;
      justify-content: center;
      align-items: center;
      .icon_div {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .active {
      background: none;
      p {
        color: $sidebarBtn;
      }
      .icon_div {
        background-color: $sidebarBtn;
        & svg {
          color: white;
        }
      }
    }
  }
}
