@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main_page {
  display: flex;
  overflow: auto;
  width: 100%;
}

@media (max-width: 500px) {
  .main_page {
    flex-direction: column;
  }
}
